<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <div class="row spacer" >
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <h1>Howdy!</h1>
                <p>Ready to start transferring files to your <a href="http://www.raspberrypi.org/help/what-is-a-raspberry-pi/">Raspberry Pi</a> using <a href="https://www.dropbox.com">Dropbox</a>?</p>
                <div class="btn-toolbar">
                    <a class="btn btn-primary btn-lg" href="{{authorize_url}}">Get started</a>
                    <a class="btn btn-default btn-lg" href="/about">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
